@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 2.0rem;
    font-family: 'Montserrat', sans-serif;
}

.principal {
    background-image: url(./../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.carrd {
    height: 100vh;
    display: flex;
    position: fixed;
}

.carrd__main {
    margin: 0 25vw 0 25vw;
    padding: 1% 2.5% 0 2.5%;
    background-color: white;
    width: 50vw;
    border-radius: 8px;
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.header__menu__links {
    border: 2px solid #3b3b3b;
    border-radius: 8px;
    padding: 0.8%;
    width: 15%;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: #3b3b3b;
}

.main {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.main__link {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    gap: 5px;
    align-items: center;
}

.main__link__links {
    display: flex;
    justify-content: center;
    border: 2px solid purple;
    width: 150%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 5%;
    text-decoration: none;
    color: black;
    align-items: center;
    gap: 10px;
}

.main__img {
    display: flex;
    justify-content: center;
}

.main__img__image {
    border: 4px solid purple;
    border-radius: 50%;
    width: 75%;
}

.extra__img {
    max-width: 100%;
    height: auto;
}

.carrd__footer {
    padding-top: 5%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #313131;
}

.main__link__links:hover {
    background-color: lightgray;
}

.header__menu__links:hover {
    background-color: whitesmoke;
}

@media (max-width: 600px) {
    body {
        font-size: 1.5rem;
    }
    .carrd__main { 
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .header__menu {
        padding-bottom: 10%;
    }
    .header__menu__links {
        font-size: 16px;
        padding-bottom: 2%;
        width: 50%;
    }
    .main__img__image {
        width: 75%;
    }
    .main__link__links {
        font-size: 20px;
    }
    .main__link__img {
        width: 20px;
    }
    .carrd__footer {
        padding-top: 15%;
        font-size: 10px;
    }
}


@media (min-width: 601px) and (max-width: 1020px) {
    body {
        font-size: 1.5rem;
    }
    .header__menu__links {
        font-size: 16px;
        width: 25%;
    }
    .main {
        gap: 10px;
    }
    .main__img__image {
        width: 50%;
    }
    .main__link {
        gap: 7px;
    }
    .main__link__links {
        font-size: 20px;
    }
    .main__link__img {
        width: 20px;
    }
}

@media (min-width: 1021px) and (max-width: 1200px) {
    .header__menu__links {
        font-size: 20px;
        width: 20%;
    }

}